html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #fbfbfb;
}

/*******************************************layer_1*******************************************/
.layer_1{
	width: 100%;
	height: 8%;
	
}

.layer_1_navLeft{
	height: 100%;
	width: 40%;
	float: left;
}

.layer_1_navLeft_info{
	text-align: center;
	border: 0px;
	width: 68%;
	height: 100%;
	float: right;
/*	background-color: white;*/
}

.layer_1_navLeft_textStyle_1{
	font-family: "黑体";
	font-size: 38px;
	color: #0e89eb;
}

.layer_1_navLeft_textStyle_2{
	font-family: "微软雅黑";
	color: #0695ea;
	font-size: 16px;
}

.layer_1_navRight{
	height: 100%;
	width: 20%;
	float: right;
	/*background-color: yellow;*/
}

.layer_1_navRight_info{
	text-align: center;
	border: 0px;
	width: 40%;
	height: 100%;
	float: left;
	/*background-color: red;*/
}

/*******************************************layer_2*******************************************/
.layer_2{
	width: 100%;
	height: 58%;
	background-size:100%;
	background-image: url(../img/layerbg2.jpg);
}

/*******************************************layer_3*******************************************/
.layer_3{
	width: 100%;
	height: 6%;
	/*background-color: white;*/
}

.layer_3_text{
	height: 100%;
	width: 30%;
/*	background-color: red;*/
}

.layer_3_text_style{
	text-align: right;
	vertical-align: bottom;
	color: black;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
	font-size: 25px;
}

/*******************************************layer_4*******************************************/
.layer_4{
	width: 100%;
	height: 39%;
	/*background-color: yellow;*/
}

.layer_4_content{
	width: 60%;
	height: 90%;
	margin: 0 auto;
	position: relative;
	top: 5%;
	background-color: yellow;
}

.layer_5{
	width: 100%;
	height: 39%;
	background-color: yellow;
}
